<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="eric.cn.com.varnish">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />



    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.NoActionBar">
        <!-- 启动页 -->
        <activity
            android:name=".activity.GuideActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:launchMode="singleTask"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- 首页 -->
        <activity

            android:name=".MainActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"></activity>
        <!-- 登陆 -->
        <activity
            android:name=".activity.LoginActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"></activity>
        <!-- 注册 -->
        <activity
            android:name=".activity.RegisterActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"></activity>
        <!-- 忘记密码 -->
        <activity
            android:name=".activity.ForgetPassWordActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"></activity>
        <!-- 重置密码 -->
        <activity
            android:name=".activity.ResePassWordActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"></activity>
        <!-- 个人信息 -->
        <activity
            android:name=".activity.InfoActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"></activity>
        <!-- 修改手机号 -->
        <activity
            android:name=".activity.EditPhoneActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"></activity>
        <!-- 绑定新手机号 -->
        <activity
            android:name=".activity.EditNewPhoneActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"></activity>
        <!-- 修改新邮箱 -->
        <activity
            android:name=".activity.EditMailActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"></activity>
        <!-- 选择部门 -->
        <activity
            android:name=".activity.DepartmentActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"></activity>
        <!-- 修改密码 -->
        <activity
            android:name=".activity.EditPassWordActvity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"></activity>
        <!-- 消息通知 -->
        <activity
            android:name=".activity.MessageActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"></activity>
        <!-- 消息通知详情 -->
        <activity
            android:name=".activity.MessagePartActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"></activity>
        <!-- 设置 -->
        <activity

            android:name=".activity.SettingActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:launchMode="singleTask"
            android:screenOrientation="portrait">

        </activity>
        <!-- 上线车站变更申请 -->
        <activity
            android:name=".activity.StationChangeActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"></activity>
        <!-- 我的通勤车 -->
        <activity
            android:name=".activity.MyCatActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"></activity>
        <!-- 我的通勤车-上下班 -->
        <activity
            android:name=".activity.MyWorkActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"></activity>
        <!-- 通勤车 申请 -->
        <activity
            android:name=".activity.VarnishApplyActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"></activity>
        <!-- 上下车站点-->
        <activity
            android:name=".activity.VarnishUpDownActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"></activity>
        <!-- 选择出勤-->
        <activity
            android:name=".activity.VarnishTrunActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"></activity>
        <service
            android:name=".utils.UpdataService"
            android:enabled="true" />
    </application>

</manifest>